@charset "UTF-8";

  dd {
    padding-bottom: 10px;
  }
  form #buttonRow input {
    width: 150px;
  }
  #buttonRow {
    text-align: center;
  }
  img {
    width: 270px;
    height: 270px;
  }