@charset "UTF-8";

  #sidebar {
    border: 1px solid silver;
    padding: 15px;
    text-align: center;
  }
  #sidebar #day {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
  }
  #sidebar #price {
    font-size: x-large;
  }
  #mainImg {
    height: 550px;
  }
  #container {
    border: 1px solid silver;
  }
  table {
    font-size: small;
  }
  #reservation {
    width: 20em;
  }
  #pet_sitter05_form #buttonRow input {
    width: 300px;
    height: 50px;
  }
  #tags button {
    width: 120px;
  }
  #middle {
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
    padding: 20px;
  }
  #middle img {
    width: 100px;
    height: 100px;
  }
  #middle #middle2 li {
    list-style: square;
  }
  #middle #middle2 ul {
    margin-top: 1em;
  }
  #middle #middle4 {
    padding-top: 2em;
  }
  #middle #middle4 .row {
    padding-bottom: 1em;
  }
  #area span {
    border-right: 1px solid silver;
  }